* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header-logo, .header-nav, .header-social{
    /* border: 2px solid black; */
}
.site-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: grey
    /* color: white; */
    
}
.header-logo img{
    width: 70px;
    height: 70px;
}
.header-nav ul{
    display: flex;
    align-items: center;
    gap: 1.5rem;
    margin-bottom: 0;
    padding-left: 0;

}

.header-nav a{
    color: black;
    text-decoration: none;
    font-size: 1.2rem;
}
.header-nav a:hover{
    text-decoration: underline;
    /* color: red; */
    text-decoration-color: red;
}
.header-nav li{
    list-style: none;
}

.header-social i{
    font-size: 1.5rem;
    color: black;
        padding: 0 0.5rem;
}

.header-social .fb:hover{
    color: lightseagreen;
}

.header-social .insta:hover{
    color: red;
}

.header-social .twitter:hover{
    color: rgb(115, 178, 32)
}

.header-social{
    /* display: flex;
    gap: 1.2rem; */
        /* padding: 0 1.2rem; */

}


.humberger img{
    width: 70px;
    height: 70px;
    /* border: 2px solid red; */
   
}

.humberger{
      display: none;
}

.header-social a{
    color: grey
}

@media screen and (max-width: 992px) {

.humberger{
      display: block;
}

.header-nav, .header-social{
    display: none;
}

}
.offcanvas-nav ul{
    padding-left: 0;
}

.offcanvas-nav li {
    list-style: none;
}

.offcanvas-nav a{
    text-decoration: none;
    color: black;
}

.parent-crousal{
    /* border: 5px solid red; */
    height: 90vh;
}

.parent-crousal img{
    height: 90vh;
}

.cards-parent .card{
 /* width: 22%;    */
 margin-bottom: 1rem;
}

.container-fluid, .container {
    padding: 0;
}