* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header-logo, .header-nav, .header-social{
    /* border: 2px solid black; */
}
.site-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: grey
    /* color: white; */
    
}
.header-logo img{
    width: 70px;
    height: 70px;
}
.header-nav ul{
    display: flex;
    align-items: center;
    gap: 1.5rem;
    margin-bottom: 0;
    padding-left: 0;

}

.header-nav a{
    color: black;
    text-decoration: none;
    font-size: 1.2rem;
}
.header-nav a:hover{
    text-decoration: underline;
    /* color: red; */
    text-decoration-color: red;
}
.header-nav li{
    list-style: none;
}

.header-social i{
    font-size: 1.5rem;
    color: black;
        padding: 0 0.5rem;
}

.header-social .fb:hover{
    color: lightseagreen;
}

.header-social .insta:hover{
    color: red;
}

.header-social .twitter:hover{
    color: rgb(115, 178, 32)
}

.header-social{
    /* display: flex;
    gap: 1.2rem; */
        /* padding: 0 1.2rem; */
}

.humberger{
    /* border: 2px solid black; */
    /* padding-right: 1rem; */
    margin-right: 1rem;
       display: none;
}
.humberger img{
    width: 70px;
    height: 70px;
    object-fit: cover;
    /* border: 2px solid red; */


}

@media screen and (max-width: 992px) {
.humberger{
       display: block
}

.header-social, .header-nav{
    display: none;
}
}

@media screen and (max-width: 576px){
    .humberger img{
    width: 50px;
    height: 50px;
  
}

}

/* DROPDDOWN CODE */
/* Hide the dropdown menu by default */
.dropdown-menu {
  display: none!important;
  position: absolute;
  background-color: red;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  /* z-index: 1; */
  padding: 10px;
  border-radius: 5px;
  width: 200px;  /* You can adjust the width as needed */
}

/* Show the dropdown when hovering over the parent (Services) */
.dropdown:hover .dropdown-menu {
  display: block!important;
}

/* Style the list items inside the dropdown */
.dropdown-menu li {
  list-style: none;
  padding: 8px 12px;
}

.dropdown-menu li a {
  color: black;
  text-decoration: none;
}

.dropdown-menu li a:hover {
  color: red; /* Change this color to whatever you want on hover */
}


/* 
.my-btn{
    background-color: aqua;
    padding: 0.8rem 2rem;
    border-radius: 5px;
    border: none;
    margin-top: 1rem;
}

.my-btn:hover{
    background-color: yellow;
    color: red;
    text-decoration: underline
} */


.container-fluid{
    padding: 0!important;
}
.dropdown-menu{
    /* display: none!important; */
}

.container{
    /* background-color: yellow; */
    /* border: 2px solid red; */

}

.carousel-item{
    width: 100%;
    border: 2px solid black;
}

.carousel-item img{
    width: 100%;
    height: 90vh;

}

.set-height{
    height: 90vh;
}